* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-family:roboto,sans-serif;
  width: 100%;
  background-color: #0c111b;
  position: relative;
}
/* Navigation bar */
.nav-bar {
  position: fixed;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 4%;
  z-index: 0;
}
.hots-logo{
  height: 7rem;
}
.nav-list {
  display: flex;
  list-style: none;
  margin-top: 1rem;
}
.nav-items a {
  text-decoration: none;
  text-transform: capitalize;
  margin-left: 2rem;
  color: #fff;
  opacity: 0.9;
  font-size: 1.6rem;
}
.right-container {
  display: block;
  margin: auto;
}
.search-box{
 border: none;
 border-bottom: 1px solid #aaa;
 background-color: transparent;
 outline: none;
 color: #fff;
 text-transform: capitalize;
 width: 25rem;
 height: 3rem;
 font-size: 1.7rem;
 font-weight: 500;
 transition: 0.3s;
}
.search-box:focus {
  width: 40rem;
  border-color: #1f80e0;
}
.sub-btn {
  background-color: #1f80e0;
  padding: 0 2rem;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  height: 3rem;
  font-weight: 700;
  margin: 0 1rem;
  cursor: pointer;
}
.login-link {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  opacity: 0.9;
  
}
 /* //////////////// */
.carousel-container {
  position: relative;
  width:100%;
  height:45rem;
  overflow-x: hidden;
  padding: 2rem 0; 
  /* margin: 0 auto; */
  margin-top: 8rem;
}

.carousel{
  display: flex;
  position: relative;
  width: 92%;
  height: 100%;
  margin: auto;
}
.slider {
  flex: 0 0 auto;
  margin-right: 3rem;
  position: relative;
  background:rgbs(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 3s;
  overflow: hidden;
  /* opacity: ; */
}
.slider img {
  width: 70%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  /* overflow: hidden; */
} 
.slide-content {
  position: absolute;
  width: 50%;
  height: 100%;
  color: #fff;
  background: linear-gradient(to right,
  #030b17 80%, #0c111b00);
  z-index: 2;
}
.movie-name {
  /* font-size: 2.6rem; */
  text-transform: capitalize;
  padding-left: 5rem;
  margin-top: 8rem;
}
.movie-text {
 width: 80%;
 line-height: 3rem;
 padding-left: 5rem;
 margin-top: 3rem;
 font-size: 1.4rem;
 opacity: 0.8;
}

/* Section card */
.section-card-video {
  position: relative;
  width: 92%;
  height: 18vh;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2rem;
}
.video-card {
  position: relative;
  min-width: calc(100% / 5 - 1rem);
  width: calc(100% / 5 - 1rem);
  height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #030b17;
}
.card-video,
.video-card-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-video {
  position: absolute;
}
.video-card:hover .video-card-image{
  display: none;
}

/* Movies container */
.heading-1 {
  font-size: 2.2rem;
  font-weight: 500;
  color: #fff;
  opacity: 0.9;
  text-transform: capitalize;
  padding-left: 4%;
}
.movies-list {
  position: relative;
  width: 100%;
  height: 22rem;
  margin: 1rem 0 1rem;
}

 .card-container {
    position: relative;
    width: 92%;
    padding-left: 10px;
    height: 220px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
  }
  .card-container::-webkit-scrollbar {
    display: none;
  }
  .card {
    position: relative;
    min-width: 15rem;
    width: 15rem;
    height: 20rem;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-right: 1rem;
    transition: 0.5s;
  }
  .card-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card:hover .card-body {
    opacity: 1;
  }
  
  .card-body {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,
    rgba(4, 8, 15, 0), #192133 90%);
    padding: 1rem;
    transition: 0.5s;
    z-index: 2;
  }
  
  .name {
    color: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-top: 60%;
  }
  .diss {
    color: #fff;
    opacity: 0.8;
    margin: 0.5rem 0;
    font-weight: 500;
    font-size: 1.2rem;
  }
.watchlist-btn {
  position: relative;
  width: 100%;
  font-weight: 500;
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  text-align: right;
  background: none;
  border: none;
  text-transform: capitalize;
  color: rgba(255,255,255,0.5);
  cursor: pointer;
} 
.watchlist-btn::before {
  content: '';
  position: absolute;
  background-image: url(images/add.png);
  background-size: cover;
  top: 0;
  left: -0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  transform: scale(0.4);
}
.watchlist-btn:hover {
  color: #fff;
 background:rgba(255,255,255,0.1);
}

.pre-btn,
.next-btn {
 position: absolute;
 top: 0;
 width: 5%;
 height: 100%;
 z-index: 4;
 border:none;
 outline: none;
 cursor: pointer;
}
.pre-btn {
  left: 0;
  background: linear-gradient(to right,
  #0c111b 0%, #0c111b00);
}
.next-btn {
  right: 0;
  background: linear-gradient(to left,
  #0c111b 0%, #0c111b00);
}
.pre-btn img,
.next-btn img {
  width: 1.5rem;
  height: 2rem;
  opacity: 0;
}
.pre-btn:hover img,
.next-btn:hover img {
  opacity: 1;
}